{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "flowtype",
    "import",
    "jsx-a11y",
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
